body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#appName {
  margin: 15px;
}

.quote {
  margin-bottom: 50px;
}

.search-input {
  color: green;
}

.SearchInput {
  display:flex;
  border: none;
  outline: none;
  font-size: 18px; 
  font-weight: bold;
  background-color: green;
  padding: 10px;
  flex-grow: 1;
}
